body {
  background: #074a8a;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif; }

.header_index {
  box-shadow: 1px 0px 5px white; }

.iconotren {
  margin-left: 30px;
  font-size: 2rem; }

.nav-link {
  margin-left: auto; }

.cajaimg {
  text-align: center;
  margin-top: 50px; }

.imagen2 {
  width: 640px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 3%; }

.seccion_index-titulo {
  text-align: center;
  margin-top: 20px;
  color: black; }

.seccion_index-parrafo {
  padding: 10px 100px; }

.seccion_index-caracteristica {
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 0px 10px black;
  margin-bottom: 10px; }

.list-group {
  margin-bottom: 25px; }

.list-group-item {
  text-align: center;
  background: #074a8a;
  color: white;
  padding: 10px 100px; }

.titulo_index2 {
  text-align: center;
  box-shadow: 2px 0px 10px black;
  margin-bottom: 15px;
  color: black; }

.titulo_index3 {
  text-align: center;
  color: black; }

.parrafo3 {
  margin-left: 10px;
  margin-top: 15px;
  text-align: center; }

.titulo_index4 {
  text-align: center;
  margin-top: 30px;
  color: black; }

.electrica {
  border-top: 1px solid white; }

.linea2 {
  border-bottom: 1px solid white; }

.card {
  margin: auto;
  margin-top: 25px;
  color: black; }

.lista_flex3 {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none; }

.index_bogie {
  margin-left: 100px;
  color: black; }

.index_bogie2 {
  padding: 10px 100px; }

.header_amor {
  box-shadow: 2px 0px 10px white; }

.puntaeje {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 2px 0px 10px black;
  font-size: 30px; }

.tituloamor {
  text-align: center; }

.parrafoamor {
  padding: 10px 10px; }

.amor3 {
  margin-left: 10px; }

.inyeccion_flex {
  display: flex;
  margin: 20px 15px; }

@media only screen and (max-width: 992px) {
  .iconotren {
    display: none; } }

@media only screen and (max-width: 700px) {
  .imagen2 {
    width: 310px; } }

@media only screen and (max-width: 500px) {
  .seccion_index-parrafo {
    padding: 10px; }
  .index_bogie2 {
    padding: 10px; } }
