.header_amor{
    box-shadow: 2px 0px 10px white;
}

.puntaeje{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 2px 0px 10px black;
    font-size: 30px;
}

.tituloamor{
    text-align: center;
}

.parrafoamor{
    padding: 10px 10px;
}

.amor3{
    margin-left: 10px;
}