.header_index{
    box-shadow: 2px 0px 10px white;
}

.cajaimg{
    text-align: center;
    margin-top: 50px;
}

.imagen2{
    width: 640px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 3%;
}

.seccion_index-titulo{
    text-align: center;
    margin-top: 10px;
}

.seccion_index-parrafo{
    padding: 10px 100px;
}

.seccion_index-caracteristica {
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 0px 10px black;
    margin-bottom: 10px;
}

.list-group{
    margin-bottom: 25px;
}

.list-group-item{
    text-align: center;
    background: $colordefondo;
    color: white;
    padding: 10px 100px;
}

.titulo_index2{
    text-align: center;
    box-shadow: 2px 0px 10px black;
    margin-bottom: 15px;
}

.titulo_index3{
    text-align: center;
}

.parrafo3{
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
}

.titulo_index4{
    text-align: center;
    margin-top: 30px;
}

.card{
    margin: auto;
    margin-top: 25px;
    color: black;
}

.lista_flex3{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    
}

.index_bogie{
    margin-left: 100px;
}

.index_bogie2{
    padding: 10px 100px;
}