
.titulo_carga{
    text-align: center;
    color: black;
}

.parrafo_carga{
    text-align: center;
}

.lista_carga{
    margin-left: 15px;
}

.tabla_carga{
    width: 100%;
}

.tabla_carga2{
    width: 100%;
    border-bottom: 2px solid black;
}